services:
  bilibili-live-danmu-proxy:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: bilibili-live-danmu-proxy
    ports:
      - "8080:8080"
    volumes:
      - ./config.properties:/app/config.properties
    restart: unless-stopped
